.profile-menu{
  background-color: cadetblue;
  padding:10px;
  height: 50px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile-menu > *{
  padding:10px;
  width:100px;
  margin: 5px;
  border:1px solid white;
}

.profile-menu a{
  color:white;
}
.active-menu{
  background-color: #7382a1;
}
