.flex-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-color: #7382a1;
  min-height: 50px;
  align-items: center;
  justify-content:end;
  padding-left: 10%;
  padding-right: 10%;

}


.search{
  display:flex;
  flex-direction: row;
  align-self: center;
  gap:10px;
}

input{
  width:200px;
  border-radius: 5px;
  border:0px;
  padding: 10px;
}

.search-img{
  width:30px;
  height:30px;
}

