#main-part {
    background-color: #7382a1;
    padding: 5% 8%;
    margin-top:20px;
}

h3 {
    color: #162e50;
}

* {
    color: white;
}

.number {
    color: #162e50;
    font-weight: bold;
    font-size: 25px;
}

#info-section {
    display: flex;
    flex-wrap: wrap;
}

.info-block {
    width: 45%;
    font-size: 18px;
    padding: 2%;
}

img {
    display: block;
    margin-bottom: 5%;
}

.basket-img{
  width: 100px;
  height: 100px;
}
