<div *ngIf="visibility.isBasketVisible && visibility.isOrderFinishVisible === false" class="black-container" (click)="visibility.isBasketVisible = false">
    <div class="basket" (click)="$event.stopPropagation()">
      <div class="header"> Finish your shopping now!</div>
      <div class="items-container">
        <div *ngFor="let item of basketService.basket; index as i">
          <div class="vendor-button" *ngIf="i===0 || basketService.basket[i-1].vendor!==basketService.basket[i].vendor">
            <div class="vendor-name" >
              {{basketService.basket[i].vendor}}
            </div>
            <div class="finish-button">
              <button  (click)="openOrder(basketService.basket[i].vendor)">Finish your order</button>
            </div>
          </div>
          <app-basket-item class="item"  [item]="item"></app-basket-item>
        </div>
        <div class="no-items" *ngIf="basketService.basket.length===0">
          <p>Now you have nothing to buy, go to the shop first!</p>
          <img class="tray" src="assets/tray.png" alt="tray">
        </div>

      </div>

  </div>


</div>
