<div *ngIf="visibility.isBasketVisible" class="black-container" (click)="visibility.isBasketVisible = false">
    <div class="basket" (click)="$event.stopPropagation()">
      <div class="header"> Finish your shopping now!</div>
      <div class="items-container">
        <div *ngFor="let item of basketService.basket; index as i">
          <div class="vendor-name" *ngIf="i===0 || basketService.basket[i-1].vendor!==basketService.basket[i].vendor">
            {{basketService.basket[i].vendor}}
          </div>
          <app-basket-item class="item"  [item]="item"></app-basket-item>
        </div>
        <div class="finish-button" *ngIf="basketService.basket.length>0">
          <button>Finish your order</button>
        </div>
        <div class="no-items" *ngIf="basketService.basket.length===0">
          <p>Now you have nothing to buy, go to the shop first!</p>
          <img class="tray" width="300px" height="200px" src="assets/tray.png" alt="tray">
        </div>

      </div>

  </div>


</div>
