<div class="profile-menu">
  <div >
    <a  routerLink="/user/info">User profile</a>
  </div>
  <div>
    <a routerLink="/user/status">Order status</a>
  </div>
  <div class="active-menu">
    <a href="#">Order history</a>
  </div>
</div>

<div class="history">
  <div class="history-item" *ngFor="let order of historyService.pastOrders">
    <div><p>Order number: {{order.id}}</p></div>
    <div><p>Order date: {{order.date}}</p></div>
    <div><p>Adress: {{order.adress}}</p></div>
    <div><p>Vendor: {{order.vendor}}</p></div>
    <div><p>Total: {{order.total}}</p></div>
  </div>
</div>
