.basket-menu-logo{
  background-color: cadetblue;
  color:white;
}

.back-main span:hover{
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.basket-logo{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3em;
  background-color: #7382a1;
}
.basket-logo > div{
  padding:20px 0px 20px 20px;
}

.your-basket{
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.apple-rabbit{
  width:60px;
  height:50px;
}
.basket-menu{
  padding:10px;
  height: 50px;
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.basket-menu p{
  padding:10px;
  max-width:150px;
  margin: 5px;
  border:1px solid white;
}

.basket-menu p:hover{
  text-decoration: underline;
}

.active{
  text-decoration: underline;
  background-color: lightblue;
}

p{
  cursor: pointer;
}
