<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <input type="text" placeholder="Enter your email" formControlName="email">
        <div *ngIf="email!.errors && submitted" class="error">
            <div *ngIf="email!.errors['required']">
                <p>This field is required</p>
            </div>
            <div *ngIf="email!.errors['email']">
                <p>Not valid email</p>
            </div>
        </div>
    </div>
    <button class="submit-btn" type="submit">Send</button>
</form>