.flex-container{
  display:flex;
  flex-direction: column;
  background-color: #7382a1;
  width:150px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

h3{
  margin: 10px;
}


.imgDiv{
  margin-top: 20px;
  width:100px;
  height:100px;
  background-color: #162e50;
  margin: 0 auto;
}

p span{
  color:red;
  text-decoration: line-through;
}

p{
  margin:0px;
}
span{
  padding-left: 10px;
}
