.flex-container{
  display: flex;
  flex-direction:row;
  height: 350px;
  width:400px;
  background-color: blue;
  color:white;
  align-items: center;
  font-size: 0.9em;
}

.menu{
  background-color: rgb(48, 54, 116);
  padding:20px;
  height: 350px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.menu > *{
  padding:10px;
  width:100px;
  margin: 5px;
  border:1px solid white;
}

.menu a{
  color:white;

}

.content{
  background-color: rgb(128, 161, 220);
  height: 350px;
  width:300px;
  padding:20px;
  overflow-y: auto;
  overflow-x: auto;
}

.avatar{
  background-color: cadetblue;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position:relative;
  margin:0 auto;
}

.history, .status{
  display:flex;
  flex-direction: column;
  gap:10px;
}

.history > div, .status>div{
  background-color: #7382a1;
  border-radius: 10px;
  padding:5px;
}

.active-menu{
  background-color: #7382a1;
}

