<app-user-navigation [active]="1"></app-user-navigation>
<div class="content">
  <div class="profile">
    <div class="avatar-container">
      <div class="avatar"></div>
    </div>
    <div><p>User name: {{userService.user.name+' '+userService.user.surname}}</p></div>
    <div><p>Date of birth: {{userService.user.dateOfBirth}}</p></div>
    <div><p>Adress: {{userService.user.country+', '+userService.user.city+', '+userService.user.adress}}</p></div>
    <div><p>Phone number: {{userService.user.phoneNumber}}</p></div>
    <div><p>Email adress: {{userService.user.email}}</p></div>
  </div>
