.header-div {
    display: flex;
}

.header {
    text-align: center;
    margin: auto;
    margin-bottom: 0;
    font-size: larger;
}

.cross {
    cursor: pointer;
}

form {
    font-size: smaller;
}

label{
    font-size: smaller;
}

.side-sections{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.side-sections-part{
    width :40%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.label-input-pair {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.input-option {
    cursor: pointer;
}

button {
    height: 20px;
    width: 70%;
    border: none;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
    margin-top: 4%;
    align-self: flex-end;
}

button:valid{
    background-color: #d9e6f6;;
}

button:valid:hover {
    color: white;
    background-color: #162e50;
}

input, select{
    padding: 2%;
    border-radius: 5px;
    border: 0.5px solid gray;
    margin-top: 2%;
}