<div id="main-footer">
    <h2>Our contacts</h2>
    <table>
        <tr>
            <th>telephone</th>
            <td><a href="tel:28 888888">28 888888</a></td>
        </tr>
        <tr>
            <th>email</th>
            <td><a href="mailto:someone@gmail.com">ourmail@gmail.com</a></td>
        </tr>
        <tr>
            <th>address</th>
            <td>Epam Global Competition Local Goods</td>
        </tr>
    </table>

    <div class="social-media-links">
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
    </div>

    <span class="copy-right">&#169; 2021 - 2022 Epam Global, All rights reserved</span>
</div>