#main-footer {
    background-color: white;
    text-align: center;
    color:white;
    background-color: #162e50;
    padding:20px;
}

.footer-flex-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between ;
  flex-wrap: wrap;
  gap:20px;
}

h3 {
  margin: 0px;
  padding-bottom:10px;
}

h4{
  margin:0px;
}

p{
  margin:0px;
}

div.flex-container{
  display:flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding:5px;
}
.social-media-links {
    display: flex;
    justify-content: space-between;
    gap:15px;
    margin: 0 auto;
    padding:10px;
}

.social-media-links a {
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

a{
  color:white;
  transition: transform .5s;
}
a:hover{
  transform: scale(1.2);
}
.rights{
  margin-top: 20px;
}

.icon{
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

@media screen and (max-device-width: 700px) {
  .footer-flex-container {
    justify-content: center;
  }
}

