#main-footer {
    background-color: white;
    text-align: center;
    color:white;
    background-color: #162e50;
    padding:20px;
}

.footer-flex-container{
  display:flex;
  flex-direction: row;
  align-items: center;

  gap:20px;
}

h3 {
  margin: 0px;
  padding-bottom:10px;
}

h4{
  margin:0px;
}

p{
  margin:0px;
}

div.flex-container{
  display:flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding:5px;
}
.social-media-links {
    display: flex;
    justify-content: space-between;
    gap:15px;
    margin: 0 auto;
    padding:10px;
}

.social-media-links a {
    background-color: cadetblue;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

a{
  color:white;
  transition: transform .5s;
}
a:hover{
  transform: scale(1.2);
}
.rights{
  margin-top: 20px;
}


