<div id="main-footer">
  <h3>Produced by Five Leaves Company</h3>
  <div class="footer-flex-container">
    <div class="flex-item">

      <h4>Our contacts</h4>
      <div class="flex-container">
        <h4>Telephone</h4>
        <a href="tel:28 888888">28 888888</a>
      </div>
      <div class="flex-container">
        <h4>Email</h4>
        <a href="mailto:someone@gmail.com">ourmail@gmail.com</a>
      </div>
    </div>
    <div class="flex-item">
      <h4>Find us on</h4>
      <div class="social-media-links">
        <a href="https://www.instagram.com/epamsystems/" target="_blank"><img class="icon" src="../../../assets/instagram.png"/></a>
        <a href="https://www.facebook.com/EPAM.Global" target="_blank"><img class="icon" src="../../../assets/facebook.png"/></a>
        <a href="https://www.epam.com/" target="_blank"><img class="icon" src="../../../assets/epam.png"/></a>
      </div>
    </div>
  </div>
  <div class="rights"c>
    <span class="copy-right">&#169; 2021 - 2022 Epam Global, all rights reserved</span>
  </div>
  </div>
