<div class="profile-menu">
  <div>
    <a  routerLink="/user/info">User profile</a>
  </div>
  <div class="active-menu">
    <a href="#">Order status</a>
  </div>
  <div>
    <a routerLink="/user/history">Order history</a>
  </div>
</div>

<div class="content">
  <div class="status">
    <div class="status-item" *ngFor="let order of statusService.currentOrders">
      <div><p>Order number: {{order.id}}</p></div>
      <div><p>Adress: {{order.adress}}</p></div>
      <div><p>Vendor: {{order.vendor}}</p></div>
      <div><p>Total: {{order.total}}</p></div>
      <div><p>Order status: {{order.status}}</p></div>
    </div>
  </div>
</div>
